NEXT_PUBLIC_SUPABASE_URL=https://fsrkfkwdjxzazzbtafka.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzcmtma3dkanh6YXp6YnRhZmthIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MDE2MTIsImV4cCI6MjA5MzE3NzYxMn0.vbnllTe5-QLeaC19x4IFpOBC__OLYY8ZyoAct85wS3U
